@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div id="form-content">
        <form class="" id="formUpload" enctype="multipart/form-data" method="post">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>选择文件</span>
            </span>
            <button class="btn btn-primary start" type="button" id="submitBtn"><i class="glyphicon glyphicon-upload"></i> 开始上传</button>
            <button class="btn btn-warning start" type="button" id="CancelBtn"><i class="glyphicon glyphicon-ban-circle"></i> 取消上传</button>
            <input type="file" name="UploadedFile" id="UploadedFile"  style="display:none" />
        </form>
        <div class="progress CustomProgress">
            <div id="FileProgress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                <span></span>
            </div>
        </div>
        <div class="InfoContainer">
            <div id="Imagecontainer"></div>
            <div id="FileName" class="info"></div>
            <div id="FileType" class="info"></div>
            <div id="FileSize" class="info"></div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">选择用户</label>
            <select class="form-control" id="testSelection" data-bind="options:Persons,optionsText:'Name',optionsValue:'Id',value:SelectionPerson,event:{change:$root.PersonSelectionChange}"></select>
        </div>
    </div>


    <ul class="tag-list">
        <li class="tag text-warning">ABC<span class="close" style="font-size:18px;"><i class="glyphicon glyphicon-eye-close"></i></span></li>
        <li class="tag text-warning"><span class="close" style="font-size:18px;"><i class="glyphicon glyphicon-eye-close"></i></span></li>
    </ul>
</div>

@section scripts{
    <script>
        var _$fileInput;
        //var selectedFile;
        $(function () {
            ko.applyBindings(new viewModel());
            _$fileInput = $("#UploadedFile");
            $(".fileinput-button").click(function () {
                _$fileInput.click();
            })
            _$fileInput.change(function () {
                singleFileSelected(this);
            })
            $("#submitBtn").click(function () {
                uploadFile();
            })
        })
        //清空缩率图
        function clearThumb() {
            $("#Imagecontainer").empty();
            $("#FileName").empty();
            $("#FileType").empty();
            $("#FileSize").empty();
        }
        //选择文件后执行
        function singleFileSelected(evt) {
           var selectedFile = (_$fileInput)[0].files[0]; //获取选择文件对象
            if (selectedFile) {
                var fileSize = 0;
                var imageType = /image.*/;
                if (selectedFile.size > 1048576) {
                    fileSize = Math.round(selectedFile.size * 100 / 1048576) / 100 + " MB";
                } else if (selectedFile.size > 1024) {
                    fileSize = Math.round(selectedFile.size * 100 / 1024) / 100 + " KB";
                } else {
                    fileSize = selectedFile.size + " Bytes";
                }
                $("#FileName").text("Name: " + selectedFile.name);
                $("#FileType").text("Type: " + selectedFile.type);
                $("#FileSize").text("Size: " + fileSize);
                //预览图片
                if (selectedFile.type.match(imageType)) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#Imagecontainer").empty();
                        var dataUrl = reader.result;
                        var img = new Image();
                        img.width = 100;
                        img.src = dataUrl;
                        img.className = "thumb";
                        $("#Imagecontainer").append(img);
                    }
                    reader.readAsDataURL(selectedFile);
                }
            }
        }
        //上传文件
        function uploadFile() {
            var selectedFile = (_$fileInput)[0].files[0];
            var dataString = new FormData();
            dataString.append("uploadedFile", selectedFile);
            $.ajax({
                url: "/Uploader/UploadImage",
                type: "Post",
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener("progress", progressHandlingFunction, false);
                    }
                    return myXhr;
                },
                success: successHandler,
                error: errorHandler,
                data: dataString,
                cache: false,
                contentType: false,
                processData: false
            });
        }
        //显示文件上传进度
        //progressHandlingFunction方法会提供检验上传文件Size 是否可计算，使用e.loaded和e.total计算出已上传百分之多少的数据。
        function progressHandlingFunction(e) {
            if (e.lengthComputable) {
                var percentComplete = Math.round(e.loaded * 100 / e.total);
                $("#FileProgress").css("width", percentComplete + "%").attr("aria-valuenow", percentComplete);
                $("#FileProgress span").text(percentComplete + "%");
            } else {
                $("#FileProgress span").text("无效数据");
            }
        }
        function successHandler(e) {
            clearThumb();
            alert(e.message);
        }
        function errorHandler(e) {
            console.log(e);
        }

        var viewModel = function () {
            var self = this;
            this.Persons = ko.observableArray();
            this.SelectionPerson = ko.observable();
            this.Load = function () {
                $.getJSON("@Url.Action("GetPersons")", "", function (data) {
                    self.Persons(data);
                })
            }

            this.PersonSelectionChange = function () {
                var persons = self.Persons();
               var selectionPerson = $.grep(persons, function (e) {
                    return e.Id === self.SelectionPerson();
                })[0];
               console.log(selectionPerson.Age);
            }
            self.Load();
        }

    </script>
}